include ../container/container
include ../button/button

mixin trust()
	+b('section').trust
		+container()
			+e('img').img(src='assets/images/trust-man.png' alt='')
			+e.text
				+e.text-wrap
					+e('h2').title Нам доверяют
					+e('h3').subtitle
						+e('span').subtitle-left эксклюзивные и
						+e('span').subtitle-right классические автомобили!
					+e('p').paragraph Выбрать надежную компанию, которая оказывает услуги эвакуации в Костроме по доступным ценам вполне реально. Единственная рекомендация – заранее выбрать поставщика услуги и записать его номер телефона. В этом случае шансы сократить время ожидания и уменьшить сумму за транспортировку поврежденного автомобиля значительно возрастают. Ваше лучшее основное оружие предусмотрительность.
					+e('p').paragraph
						strong Экономьте время и деньги – заказывайте эвакуатор по доступному тарифу в компании «Эвакуатор24»
				+button('Заказать звонок')

