include ../container/container
include ../title/title
include ../button/button

mixin prices()
	+b('section').prices
		+ container()
			+e.col
				+title('Стоимость Эвакуатора')
				+e.content
					+e('table').table
						tbody
							tr
								td Мотоциклы и скутеры
								td от 1000 р.
							tr
								td
									+e('table').table-inside
										tr
											td Легковые авто
											td до 1,5 т.
										tr
											td
											td от 1,5 – 2 т.
										tr
											td
											td от 2 т.
								td
									table
										tr
											td от 1000 р.
										tr
											td от 1300 р.
										tr
											td от 1500 р.
							tr
								td Минивэны и джипы
								td от 1500 р.
							tr
								td Коммерческий транспорт малого размера
								td от 1700 р.
							tr
								td Спецтехника
								td от 1700 р.
					+button('Заказать эвакуатор')
			+e.col
				+title('Дополнительные услуги')
				+e.item
					+e('img').item-img(src='assets/images/icons/prices-icon1.png')
					+e.item-text
						+e('h3').item-title Трезвый водитель
						+e('p').item-desc Мы отвезет Вашу ласточку к месту стоянки, если Вы после застолья не сможете сесть за руль.
						+button('нужен водитель')
				+e.item
					+e('img').item-img(src='assets/images/icons/prices-icon2.png')
					+e.item-text
						+e('h3').item-title Выкуп авто
						+e('p').item-desc Мы купим Ваше авто в любом состоянии по максимально объективной цене и в быстрые сроки.
						+button('Продать авто')


