.concurents
	.container
		display flex
		justify-content space-between
	&__text
		margin-top 50px
		width 45%
	&__items
		margin 15px 10px 0 0
		padding 10px 37px 30px
		display flex
		justify-content space-between
		flex-wrap wrap
		width 51%
		background-color #fff
		box-shadow 5px 5px 20px #ccc
	&__item
		margin 20px 0 22px
		display flex
		align-items center
		flex-basis 45%
		font-family latoMedium
		font-size 16px
		line-height 23px
		img
			margin-right 10px
			width 50px
			height 50px
			object-fit contain
			flex-shrink 0
	.title
		margin-bottom 15px
		text-align right
	&__paragraph
		margin-bottom 20px
		font-family latoReg
		line-height 18px
