include ../container/container
include ../title/title
include ../button/button

mixin questions()
	+b('section').questions
		+container()
			+title('Часто задаваемые вопросы')
			+e.content
				+e('ul').wrap
					li
						+e('a').question.questions__question--active(href='#1') Что входит в стоимость превозки авто?
					li
						+e('a').question(href='#2') Какая стоимость перевозки автомобиля?
					li
						+e('a').question(href='#3') Как транспортируется автомобиль?
					li
						+e('a').question(href='#4') Что делать, если колеса заблокированы?
					li
						+e('a').question(href='#5') Максимальная масса эвакуации автообиля?
					li
						+e('a').question(href='#6') В течении какого времени приедет эвакуатор?
				+e.answers
					+e.answer#1
						+e('p').text
							| 1 Мы работаем без посредников, и благодаря собственному автопарку техники обеспечиваем наиболее привлекательные цены в Костроме. Цена на эвакуатор зависит, прежде всего, от расстояния до эвакуируемого автомобиля, снаряжённой массы автомобиля, характера поломки, сложности погрузки.
						+e('strong').text-strong На все волнующие вас вопросы могут ответить наши опытные менеджеры по тел.: +7 (4942) 499-493
					+e.answer#2
						+e('p').text
							| 2 Мы работаем без посредников, и благодаря собственному автопарку техники обеспечиваем наиболее привлекательные цены в Костроме. Цена на эвакуатор зависит, прежде всего, от расстояния до эвакуируемого автомобиля, снаряжённой массы автомобиля, характера поломки, сложности погрузки.
						+e('strong').text-strong На все волнующие вас вопросы могут ответить наши опытные менеджеры по тел.: +7 (4942) 499-493
					+e.answer#3
						+e('p').text
							| 3 Мы работаем без посредников, и благодаря собственному автопарку техники обеспечиваем наиболее привлекательные цены в Костроме. Цена на эвакуатор зависит, прежде всего, от расстояния до эвакуируемого автомобиля, снаряжённой массы автомобиля, характера поломки, сложности погрузки.
						+e('strong').text-strong На все волнующие вас вопросы могут ответить наши опытные менеджеры по тел.: +7 (4942) 499-493
					+e.answer#4
						+e('p').text
							| 4 Мы работаем без посредников, и благодаря собственному автопарку техники обеспечиваем наиболее привлекательные цены в Костроме. Цена на эвакуатор зависит, прежде всего, от расстояния до эвакуируемого автомобиля, снаряжённой массы автомобиля, характера поломки, сложности погрузки.
						+e('strong').text-strong На все волнующие вас вопросы могут ответить наши опытные менеджеры по тел.: +7 (4942) 499-493
					+e.answer#5
						+e('p').text
							| 5 Мы работаем без посредников, и благодаря собственному автопарку техники обеспечиваем наиболее привлекательные цены в Костроме. Цена на эвакуатор зависит, прежде всего, от расстояния до эвакуируемого автомобиля, снаряжённой массы автомобиля, характера поломки, сложности погрузки.
						+e('strong').text-strong На все волнующие вас вопросы могут ответить наши опытные менеджеры по тел.: +7 (4942) 499-493
					+e.answer#6
						+e('p').text
							| 6 Мы работаем без посредников, и благодаря собственному автопарку техники обеспечиваем наиболее привлекательные цены в Костроме. Цена на эвакуатор зависит, прежде всего, от расстояния до эвакуируемого автомобиля, снаряжённой массы автомобиля, характера поломки, сложности погрузки.
						+e('strong').text-strong На все волнующие вас вопросы могут ответить наши опытные менеджеры по тел.: +7 (4942) 499-493
					+button('Задать свой вопрос')

