.button
	padding 0 10px
	display inline-flex
	justify-content center
	align-items center
	min-width 194px
	height 35px
	font-family latoBlack
	font-size 14px
	text-transform uppercase
	color #fff
	background-color #4974dd
	flex-shrink 0
	border none
	border-radius 7px
