bebasBold = 'BebasNeueBold'
latoReg = 'LatoRegular'
latoMedium = 'LatoMedium'
latoBold = 'LatoBold'
latoBlack = 'LatoBlack'

@font-face
  font-family BebasNeueBold
  src url(../fonts/Bebas/BebasNeueBold_0.ttf)
@font-face
  font-family LatoRegular
  src url(../fonts/Lato/Lato-Regular.ttf)
@font-face
  font-family LatoMedium
  src url(../fonts/Lato/Lato-Medium.ttf)
@font-face
  font-family LatoBold
  src url(../fonts/Lato/Lato-Bold.ttf)
@font-face
  font-family LatoBlack
  src url(../fonts/Lato/Lato-Black.ttf)