.header
  display block
  height 530px
  background url(../images/header-bg.png) no-repeat
  background-position 50% 0
  &__top
    display flex
    align-items center
    justify-content flex-end
    width 100%
    height 85px
    .button
      margin 0 10px
  &__phone
    margin-right 20px
    display block
    font-family LatoBlack
    font-size 19px
  &__text
    margin-top 43px
    display flex
    flex-direction column
    align-items flex-start
    max-width 550px
    .button
      margin 33px 0 0 67px
  &__location
    margin-left auto
    padding-right 12px
    display flex
    font-family latoMedium
    font-size 25.16px
    img
      margin-right 6px
      size(22px)
      object-fit contain
  &__title
    font-family bebasBold
    font-size 48px
    line-height 65px
  &__desc
    font-family latoMedium
    font-size 26.3px
    line-height 31px
  &__car
    position absolute
    top 205px
    left 456px
