include ../container/container

mixin gallery()
	+b('section').gallery
		+container()
			+e.action
				+e.slide
					+e('h2').title Наши эвакуаторы в работе
					img(src='assets/images/slider-img1.png')
			+e.slider
				+e.slide
					img(src='assets/images/slider-img1.png')
					img(src='assets/images/slider-img1.png')
				+e.slide
					img(src='assets/images/slider-img1.png')
					img(src='assets/images/slider-img1.png')
				+e.slide
					img(src='assets/images/slider-img1.png')
					img(src='assets/images/slider-img1.png')
				+e.slide
					img(src='assets/images/slider-img1.png')
					img(src='assets/images/slider-img1.png')
				+e.slide
					img(src='assets/images/slider-img1.png')
					img(src='assets/images/slider-img1.png')
				+e.slide
					img(src='assets/images/slider-img1.png')
					img(src='assets/images/slider-img1.png')
