include ../container/container
include ../title/title

mixin rulles()
	+b('section').rulles
		+container()
			+title('Правила вызова эвакуатора')
			+e.wrap
				+e('p').desc На первый взгляд вызвать эвакуатор в Костроме достаточно просто – все решает один телефонный звонок. Но если вы не хотите долго ждать, необоснованно переплачивать, а также получить массу дополнительных проблем и неудобств, ознакомьтесь с нижеприведенными правилами:
				+e('ul').list
					+e('li').item
						+e('img').img(src='assets/images/icons/rulles-icon1.png')
						+e('p').text
							| Первый момент. Обязательно уточните, нужен ли вам эвакуатор в срочном порядке или вы делаете предварительный заказ. От этого обстоятельства сильно зависит цена будущей услуги.
					+e('li').item
						+e('img').img(src='assets/images/icons/rulles-icon2.png')
						+e('p').text
							| Обязательно озвучьте по телефону маршрут, по которому автоэвакуатор повезет ваш автомобиль. К примеру: «Автомобиль Лада Калина, нуждается в транспортировке от от одного конца города на другой».
					+e('li').item
						+e('img').img(src='assets/images/icons/rulles-icon3.png')
						+e('p').text
							| Не относитесь с подозрением, если оператор спрашивает модель автомобиля – это хороший знак. Модель транспортного средства определяет его габариты и тоннаж. Именно так менеджер
							|  компании по эвакуации автомобилей определяет, технику с каким уровнем грузоподъемности
							| прислать для выполнения поставленной задачи. Полная или частичная погрузка. Возможно,
							| понадобится грузовой эвакуатор с гидравлической лебедкой, кран-балкой и подъемным сцепным устройством, или просто с ломаной, прямой или сдвижной платформой для перевозки авто.
					+e('li').item
						+e('img').img(src='assets/images/icons/rulles-icon4.png')
						+e('p').text
							| Рекомендуется также сообщить причину вызова, поскольку от этого зависит не только стоимость услуги, но и необходимый тип эвакуатора: со сдвижной платформой и лебедкой или с краном-манипулятором. К примеру, если у вашего транспортного средства зажаты колеса, их разблокировка стоит дополнительных денег. В таких случаях без крана-манипулятора не обойтись.


